@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --mustard-yellow: #facc15;
  --soft-red: #f87171;
  --neutral-gray: #e5e7eb;
  --dark-gray: #374151;
  --off-white: #fafafa;
  --black-color: #1f2937;
}

img {
  max-width: 100%;
  height: auto;
}
